@use '../static/settings.scss';

.linksOut {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1.5em;
}

.button {
  padding: 0.7em;
  border-radius: 50%;
  background-color: rgba(settings.$accent, 0.5);
  transition: background-color 200ms ease-in;
  &:hover {
    background-color: settings.$accent;
  }
}

.buttonIcon {
  width: 1.7em;
  height: auto;
}
