@use '../static/settings.scss';

.content {
  max-width: 40em;
  margin: 0 auto 3em;
  color: settings.$body;

  a {
    text-decoration: none;
    line-height: 1;
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: #333;
    vertical-align: bottom;
    transition: color .3s ease-out;
    &:hover {
      color: settings.$primary;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transform: translateY(calc(100% - 2px));
      width: 100%;
      height: 100%;
      background-color: settings.$accent;
      transition: transform .25s ease-out;
    }
  
    &:hover::before {
      transform: translateY(0);
      transition: transform .25s ease-out;
    }
  }
}

ul {
  text-align: left;
  li {
    margin: 0.5em 0;
  }
}

.columns {
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
}

.primary {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  color: settings.$accent;
}

.username {
  transition: color 200ms ease-in;
  &:hover {
    color: settings.$body;
  }
}